@import './global.css';

.Characters-inner {
	display: grid;
	justify-content: center;
	align-items: center;
}

.Character-card {
	background-color: #cdc0c0;
	border-radius: 3%;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.Character-card img {
	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
	min-width: 300px;
	width: 350px;
	max-width: 580px;

	margin-bottom: 15px;
}
.Character-card h2 {
	text-align: center;
	margin-bottom: 20px;
}

.Character-card h3 {
	margin-left: 15px;
	margin-bottom: 15px;
}
